<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">

        文章分类: <input type="text" v-model="searchConditions.category" />

        发布状态: <input type=" text" v-model="searchConditions.state" />

        <button @click="search">搜索</button>

        <br />
        <br />
        <table border="1 solid" colspa="0" cellspacing="0">
            <tr>
                <th>文章标题</th>
                <th>分类</th>
                <th>发表时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            <tr v-for="(item, index) in articleList">
                <th>{{item.title}}</th>
                <th>{{item.category}}</th>
                <th>{{item.time}}</th>
                <th>{{item.state}}</th>
                <td>
                    <button>编辑</button>
                    <button>删除</button>
                </td>
            </tr>
        </table>
    </div>

</body>
<!-- 引入axios坐标 -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="module">
    import { createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    createApp({
        data() {
            return {
                articleList: [],
                searchConditions: {
                    category: '',
                    state: ''
                },
            }
        },
        methods: {
            // 声明方法
            search: function () {
                //发送请求，完成搜索，携带搜索条件
                axios.get('http://127.0.0.1:8080/article/search?category=' + this.searchConditions.category + '&state=' + this.searchConditions.state)
                    .then(result => {
                        // 成功回调 
                        this.articleList = result.data
                    }).catch(err => {
                        console.log(err);
                    })
            }
        },
        // 钩子函数mounted中，获取所有文章数据
        mounted: function () {
            // 发送异步请求 axios
            axios.get('http://127.0.0.1:8080/article/getAll').then(result => {
                // 成功的回调
                //console.log(result.data);
                this.articleList = result.data;
            }).catch(err => {
                // 失败的回调
                console.log(err);
            });
        }

    }).mount('#app')    // vue控制接管的区域
</script>

</html>